*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 700px;
    position: relative;
    display: block;
}
.banner img{
    width: 100%;
    height: 100%;
}
.detail-banner{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}
.main-box-blog-detail .left-box img,
.main-box-blog-detail .right-box img{
    margin-top: -40px;
}

@media (min-width: 320px) and (max-width: 480px){
    .header .main-box{
        width: 100%;
        padding: 10px;
    }
    .header .main-box .open-menu{
        display: block;
    }
    .header .main-box .menu .close-menu{
        display: block;
        padding-left: 20px;
    }
    .header .main-box .menu{
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background-color: #22c55e;
        z-index: 100;
        padding-top: 15px;
        overflow-x: hidden;
        transition: 0.5s;
    }
    .header .main-box .menu ul{
        margin: 0;
        padding: 10px 0px 0px 0px;
    }
    .header .main-box .menu ul li{
        display: block;
    }

    .banner{
        width: 100%;
        height: 100%;
    }
    .detail-banner{
        width: 90%;
        padding: 10px !important;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
    }
    .detail-banner p{
        font-size: 13px;
        padding: 0px !important;
    }
    .detail-banner .text{
        width: 100%;
        text-align: center;
    }
    .detail-banner h1{
        font-size: 13px;
        padding: 10px !important;
    }
    .detail-banner a{
        font-size: 10px;
        padding: 10px !important;
        text-align: center;
    }

    .blog-detail{
        width: 100%;
        padding: 0px !important;
    }
    .blog-detail .main-box-blog-detail{
        padding: 5px !important;
        display: block;
        width: 100%;
    }
    .blog-detail .main-box-blog-detail .left-box,
    .blog-detail .main-box-blog-detail .right-box{
        padding-top: 20px;
        width: 100%;
    }
    .blog-detail .main-box-blog-detail .left-box .box,
    .blog-detail .main-box-blog-detail .right-box .box{
        padding: 0px;
        width: 100%;
        margin: 10px 0px;
    }
    .blog-detail .main-box-blog-detail .left-box .box img,
    .blog-detail .main-box-blog-detail .right-box .box img{
        width: 50%;
    }
    .blog-detail .main-box-blog-detail .left-box .box .box-text{
        padding: 0px 10px 0px 0px !important;
    }
    .blog-detail .main-box-blog-detail .right-box .box .box-text{
        padding: 0px 0px 0px 10px !important;
    }
    .blog-detail .main-box-blog-detail .left-box .box .box-text h1,
    .blog-detail .main-box-blog-detail .right-box .box .box-text h1{
        font-size: 20px;
        padding: 10px 0px !important;
    }
    .blog-detail .main-box-blog-detail .left-box .box .box-text a,
    .blog-detail .main-box-blog-detail .right-box .box .box-text a{
        font-size: 13px;
    }

    .main-post-1,
    .main-post-2,
    .main-post-3{
        width: 100%;
        padding: 10px !important;
    }
    .main-post-1 h1,
    .main-post-2 h1,
    .main-post-3 h1{
        font-size: 18px;
        padding: 5px 0px;
    }
    .main-post-1 .row-start .grid,
    .main-post-2 .row-start .grid,
    .main-post-3 .row-start .grid{
        display: inline-block;
        width: 100%;
    }
    .main-post-1 .row-start .grid .col-span-3,
    .main-post-2 .row-start .grid .col-span-3,
    .main-post-3 .row-start .grid .col-span-2{
        width: 50%;
        float: left;
    }
    .main-post-1 .row-start .grid .col-span-3 p,
    .main-post-2 .row-start .grid .col-span-3 p{
        font-size: 13px;
    }

    footer .main-box,
    footer .main-text-footer{
        display: block;
        text-align: center;
    }
    footer .main-box .social{
        margin: 20px 0px;
    }
}


@media (min-width: 481px) and (max-width: 767px){
    .header .main-box{
        width: 100%;
        padding: 10px;
    }
    .header .main-box .open-menu{
        display: block;
    }
    .header .main-box .menu .close-menu{
        display: block;
        padding-left: 20px;
    }
    .header .main-box .menu{
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background-color: #22c55e;
        z-index: 100;
        padding-top: 15px;
        overflow-x: hidden;
        transition: 0.5s;
    }
    .header .main-box .menu ul{
        margin: 0;
        padding: 10px 0px 0px 0px;
    }
    .header .main-box .menu ul li{
        display: block;
    }

    .banner{
        width: 100%;
        height: 100%;
    }
    .detail-banner{
        width: 90%;
        padding: 20px !important;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
    }
    .detail-banner p{
        font-size: 20px;
        padding: 0px !important;
    }
    .detail-banner .text{
        width: 100%;
        text-align: center;
    }
    .detail-banner h1{
        font-size: 30px;
        padding: 10px !important;
    }
    .detail-banner a{
        font-size: 15px;
        padding: 10px !important;
        text-align: center;
    }

    .blog-detail{
        width: 100%;
        padding: 0px !important;
    }
    .blog-detail .main-box-blog-detail{
        padding: 5px !important;
        display: block;
        width: 100%;
    }
    .blog-detail .main-box-blog-detail .left-box,
    .blog-detail .main-box-blog-detail .right-box{
        padding-top: 20px;
        width: 100%;
    }
    .blog-detail .main-box-blog-detail .left-box .box,
    .blog-detail .main-box-blog-detail .right-box .box{
        padding: 0px;
        width: 100%;
        margin: 10px 0px;
    }
    .blog-detail .main-box-blog-detail .left-box .box img,
    .blog-detail .main-box-blog-detail .right-box .box img{
        width: 50%;
    }
    .blog-detail .main-box-blog-detail .left-box .box .box-text{
        padding: 0px 10px 0px 0px !important;
    }
    .blog-detail .main-box-blog-detail .right-box .box .box-text{
        padding: 0px 0px 0px 10px !important;
    }
    .blog-detail .main-box-blog-detail .left-box .box .box-text h1,
    .blog-detail .main-box-blog-detail .right-box .box .box-text h1{
        font-size: 20px;
        padding: 10px 0px !important;
    }
    .blog-detail .main-box-blog-detail .left-box .box .box-text a,
    .blog-detail .main-box-blog-detail .right-box .box .box-text a{
        font-size: 13px;
    }

    .main-post-1,
    .main-post-2,
    .main-post-3{
        width: 100%;
        padding: 10px !important;
    }
    .main-post-1 h1,
    .main-post-2 h1,
    .main-post-3 h1{
        font-size: 18px;
        padding: 5px 0px;
    }
    .main-post-1 .row-start .grid,
    .main-post-2 .row-start .grid,
    .main-post-3 .row-start .grid{
        display: inline-block;
        width: 100%;
    }
    .main-post-1 .row-start .grid .col-span-3,
    .main-post-2 .row-start .grid .col-span-3,
    .main-post-3 .row-start .grid .col-span-2{
        width: 33.3%;
        float: left;
    }
    .main-post-1 .row-start .grid .col-span-3 p,
    .main-post-2 .row-start .grid .col-span-3 p{
        font-size: 13px;
    }

    footer .main-box,
    footer .main-text-footer{
        display: block;
        text-align: center;
    }
    footer .main-box .social{
        margin: 20px 0px;
    }
}